src/main/mule/ErrorContinueFlowRef.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<flow name="OnErrorContinueFlowRefMain" doc:id="0525da87-4735-4656-971e-2ad1e9bb4783" initialState="started">
		<set-payload value="10" doc:name="10" doc:id="8ff5b850-899e-425d-83f9-66b6231a7f46" mimeType="text/plain" encoding="UTF-8" />
		<ee:transform doc:name='{"val": 10}' doc:id="f5908d5d-976a-4a42-9975-5358597b55a0">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"val": (payload as Number default 0)
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="errorContinueSubFlow" doc:id="2778e0fc-e918-4afb-b010-5541fda944d5" name="errorContinueFlow"/>
		<logger level="INFO" doc:name="Logger" doc:id="1812c830-fa17-4e76-9712-4611253e5b82" message='#[{"what_is_the_Payload": payload}]' />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="5a29cec1-564d-4d58-ab16-87d7f0c59dad" type="ANY">
				<set-payload value="100" doc:name="100" doc:id="950d6626-5fbd-41b8-97a7-09f3d3fcdbab" mimeType="text/plain" encoding="UTF-8" />
				<ee:transform doc:name='{"val": 100}' doc:id="d1d29b0a-52aa-4658-84e9-77b3058ce9df" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"val": (payload as Number default 0)
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			
</on-error-continue>
		</error-handler>
	</flow>
	
		<flow name="errorContinueFlow" doc:id="e053355c-e454-42fa-b571-d125f27e8538" >
		<ee:transform doc:name="payload=20" doc:id="68ad650a-87a5-460c-89e9-40036eee4acc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"val": (payload.val as Number default 0) + 10
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<validation:is-null doc:name="Is null" doc:id="29090966-e76e-4afb-8615-27c9446a3273" value="#[payload]" message="the valu was null"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="09eba4dc-8df1-4c72-af68-760fb910cc8b" type="ANY">
				<set-payload value='50' doc:name='50' doc:id="d63eb74b-c69f-49dc-a3ee-1d68d83ef5de" mimeType="text/plain" encoding="UTF-8"/>
				<ee:transform doc:name='{"val": 50}' doc:id="21b0492c-e8ce-4471-b6d9-6d404cf4842f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"val": (payload as Number default 0)
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
	
	
	</mule>
